::-webkit-scrollbar {
  display: none;
}

.row {
  display: flex;
}

.body {
  background-color: #e0e0e0;
  padding: 0.5vw;
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  height: 100vh;
}

.column {
  padding: 0.75rem;
}

#barList {
  width: fit-content;
  padding: 0 0.4em 0 0;
  position: relative;
  height: 100%;
  background-color: #e0e0e0;
  overflow: auto;
  white-space: nowrap;
}

li,
#add {
  width: 52px;
  height: 52px;
  margin-bottom: 0.5vw;
  border-radius: 6px;
  background-color: #fff;
  color: #000;
  text-align: center;
  display: grid;
  place-items: center;
  font-size: 2.25em;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0 0 1px rgb(10 10 10 / 2%);
}
li:hover {
  background-color: #f2f2f2;
}
li.active {
  background: rgb(176, 38, 255);
  background: linear-gradient(
    310deg,
    rgba(176, 38, 255, 1) 20%,
    rgba(31, 81, 255, 1) 100%
  );
  color: #fff;
}

#blank {
  background-color: transparent;
  width: 52px;
  height: 52px;
}

#add {
  background-color: #6dce80;
  color: #fff;
  position: absolute;
  margin: 0;
  bottom: 0.25vw;
}
#add:hover {
  background-color: #55bd68;
}

.box {
  height: fit-content;
}

.content h1 {
  font-size: 22px;
}
.content h2 {
  font-size: 18px;
}

p,
div,
.input {
  font-size: 14px;
}

#secondMainDiv {
    place-items: center;
    margin:0;
    width: 100%;
}

#maCalDiv {
    margin: .75rem .75rem 0.5vw .75rem; 
    max-width: 20vw;
    text-align: center;
}

.calInput {
    width: 100%;
    text-align: center;
}

.selectInput {
    max-width: 80%;
    
}

button.button {
    font-family: 'Courier New', Courier, monospace;font-weight: bold;
}

#cyclesDiv {
    margin: .75rem .75rem 2vw .75rem;
    height: fit-content;
    min-width: fit-content;
}

.content table td, .content table th {
    text-align: center;vertical-align: middle;border: none;
}

#buttonDiv {
    display: inline;
    float: right;
}

.button,
.button:focus {
  background-color: #363636;
  color: #fff;
}

#removeBtn:hover {
  background-color: #ff6961;
  color: #fff;
}

#removeBtn:active {
  background-color: #c63637;
  color: #fff;
}

#uploadBtn:hover {
  background-color: #55bd68;
  color: #fff;
}

#uploadBtn:active {
  background-color: #198c3c;
  color: #fff;
}

#uploadBtn.is-loading {
  background-color: #55bd68
}
